@font-face {
	font-family: 'icomoon';
	src:  url('https://static1.squarespace.com/static/54ff0211e4b0331c7906899c/t/5d91919f4cd9ba4e70fdba9e/1569821087386/icomoon.ttf') format('truetype'),
	  url('https://static1.squarespace.com/static/54ff0211e4b0331c7906899c/t/5d9191a5327fbb5c3044ce91/1569821093422/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
 	.fab {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .fa-facebook-f:before {
	content: "\f09a";
  }
  .fa-pinterest-p:before {
	content: "\e900";
  }
/* --------------------------------------------------------------------------------------------------------------- */
.sqs-block-summary-v2 .summary-heading {
	font-size: 24px;
	line-height: 1.2em;
	font-family: "Times New Roman",Times,serif;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0;
	line-height: 1.26em;
	text-transform: none;
	color: #000;
	text-align: left
}
.sqs-block-summary-v2 .summary-block-setting-text-size-medium .summary-title {
	font-family: "Times New Roman",Times,serif !important;
	font-family: "Times New Roman",Times,serif !important;
	letter-spacing: 0;
	font-weight: 700;
	color: #000
}
.sqs-block-summary-v2 .summary-block-setting-text-size-large .summary-title {
	font-family: "Times New Roman",Times,serif !important;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1em;
	color: #000
}
.tweak-blog-list-alignment-left .BlogList-filter {
	font-weight: 600;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
	font-family:"Times New Roman",Times,serif;
}
.sqs-block-markdown h2 {
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 10px;
	border: solid 1px #ddd;
	padding: 10px 16px;
	margin-bottom: 0;
}
.sqs-block-markdown strong {
	color: #f65959;
	padding-right: 8px
}
.sqs-block-markdown p {
	padding: 15px 20px;
	background: #f7f7f7;
	margin-top: 0
}
.sqs-block-summary-v2 .summary-block-setting-design-list .summary-item {
	margin-bottom: 4px !important;
	padding-bottom: 4px !important
}
.sqs-block-image .image-block-outer-wrapper.layout-caption-below .image-caption-wrapper {
	text-transform: uppercase;
}
body.image-block-card-dynamic-font-sizing .sqs-block-image .image-block-outer-wrapper.design-layout-card a {
	font-size: inherit !important
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a, .sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a:hover {
	text-decoration: none
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a {
	display: inline
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a, .sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a:hover {
	text-decoration: none;
	border-bottom: 0
}
.sqs-block-summary-v2 .summary-metadata-item {
	display: none;
	opacity: .7;
	margin: 0;
	font-size: 11px;
	line-height: 3em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .08em
}
.tweak-icon-weight-medium .Icon--caretLarge--left, .tweak-icon-weight-medium .Icon--caretLarge--right, .tweak-icon-weight-medium .Icon--caretSmall--left, .tweak-icon-weight-medium .Icon--caretSmall--right, .tweak-icon-weight-medium .Icon--close, .tweak-icon-weight-medium .Icon--search, .tweak-icon-weight-medium .Icon--search--small {
	stroke-width: 2
}
.sqs-block-summary-v2 .summary-metadata-item {
	font-family: Arial,Helvetica,sans-serif;
}
.sqs-block-image .image-block-outer-wrapper.layout-caption-below .image-caption-wrapper {
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial,Helvetica,sans-serif;
	color: #000
}
.Footer-blocks {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 600
}
.sqs-block-html p a, .sqs-block-markdown p a, .sqs-block-image p a, .sqs-block-html blockquote a, .sqs-block-markdown blockquote a, .sqs-block-image blockquote a, .sqs-block-html ol a, .sqs-block-markdown ol a, .sqs-block-image ol a, .sqs-block-html ul a, .sqs-block-markdown ul a, .sqs-block-image ul a, .custom-summary-container .disclaimer-message a {
	color: #000;
	-webkit-transition: color .15s ease-out;
	-moz-transition: color .15s ease-out;
	-ms-transition: color .15s ease-out;
	-o-transition: color .15s ease-out;
	transition: color .15s ease-out;
	padding-bottom: .05em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #44d9e6;
	-webkit-transition: border-color .15s ease-out, color .15s ease-out;
	-moz-transition: border-color .15s ease-out, color .15s ease-out;
	-ms-transition: border-color .15s ease-out, color .15s ease-out;
	-o-transition: border-color .15s ease-out, color .15s ease-out;
	transition: border-color .15s ease-out, color .15s ease-out
}
.sqs-block-summary-v2 .summary-block-setting-text-size-small .summary-title {
	font-size: 17px;
	font-weight: 700;
	color: #000
}
@media only screen and (max-width:640px) {
	.sqs-block-summary-v2 .summary-block-setting-text-size-small .summary-title {
		font-size: 17px !important
}
}
.newsletter-block .newsletter-form-button {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 600;
	letter-spacing: .11em
}
.newsletter-block .newsletter-form-header-description p {
	font-family: "Times New Roman",Times,serif !important;
	font-size: 16px;
	font-style: normal !important;
	line-height: inherit;
}
.newsletter-block .newsletter-form-field-element {
	color: #333 !important
}
.preview-products {
	width: 684px;
	height: 228px;
	margin-right: auto;
	margin-left: auto;
	background: #FFF;
	border: 0;
	position: relative;
	display: block
}
.Index-page--has-image h1 a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #44d9e6
}
.Index-page--has-image h2 a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #44d9e6
}
.Index-page--has-image h3 a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #44d9e6
}
.Index-page--has-image .sqs-block-html p a, .Index-page--has-image .sqs-block-markdown p a, .Index-page--has-image .sqs-block-image p a, .Index-page--has-image .sqs-block-html blockquote a, .Index-page--has-image .sqs-block-markdown blockquote a, .Index-page--has-image .sqs-block-image blockquote a, .Index-page--has-image .sqs-block-html ol a, .Index-page--has-image .sqs-block-markdown ol a, .Index-page--has-image .sqs-block-image ol a, .Index-page--has-image .sqs-block-html ul a, .Index-page--has-image .sqs-block-markdown ul a, .Index-page--has-image .sqs-block-image ul a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #44d9e6
}
.sqs-block-summary-v2 .summary-excerpt p, .sqs-block-summary-v2 .summary-excerpt ul, .sqs-block-summary-v2 .summary-excerpt li {
	font-size: 16px
}
.Header-nav-folder-item {
	padding: .800em
}
@media only screen and (max-width:640px) {
	.tweak-blog-item-alignment-center .BlogItem-title {
		font-size: 32px !important
}
}
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper, .sqs-block-image .image-block-outer-wrapper.layout-caption-overlay-hover .image-caption-wrapper {
	font-family: Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	font-weight: 600
}
.product-block .productDetails.center {
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 500
}
@media(min-width:320px) and (max-width:1024px) {
	p, h1, h2 {
		-webkit-hyphens: manual !important;
		-moz-hyphens: manual !important;
		-ms-hyphens: manual !important;
		hyphens: manual !important
}
	.custom-summary-container {
		width: 99.99% !important
}
}
.BlogItem {
	padding-left: 0 !important
}
.pubexchange_module {
	-webkit-box-ordinal-group: 8;
	-moz-box-ordinal-group: 8;
	-ms-flex-order: 8;
	-webkit-order: 8;
	order: 8
}
.custom-summary-container {
	-webkit-box-ordinal-group: 9;
	-moz-box-ordinal-group: 9;
	-ms-flex-order: 9;
	-webkit-order: 9;
	order: 9
}
.BlogItem-comments {
	-webkit-box-ordinal-group: 10;
	-moz-box-ordinal-group: 10;
	-ms-flex-order: 10;
	-webkit-order: 10;
	order: 10
}
.custom-summary-container {
	margin: 0 auto;
	width: 640px;
	/* Update 03/05/2019 - before it was width: 55%;
	*/
}
@media(min-width:736px) and (max-width:1024px) and (orientation:portrait) {
	.custom-summary-container {
		width: 85% !important
}
}
@media(min-width:320px) and (max-width:1024px) and (orientation:landscape) {
	.custom-summary-container {
		width: 85% !important
}
}
.sqs-announcement-bar-close {
	display: none
}
.disclaimer-message a:hover {
	color: rgba(51, 51, 51, .6);
	border-color: rgba(51, 51, 51, .15)
}
.sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
	text-align: left;
	font-size: 13px;
	white-space: pre-wrap;
	text-transform:uppercase;
	line-height: 1.2em;
}
.sqs-money-native:after {
	content: ' USD + FREE Shipping' !important;
}
.ProductItem-details-excerpt a {
	border-bottom: solid 1px #000000;
}
.Index-page--has-image h2 {
	color: #ffffff;
	font-family: Playfair Display !important;
	letter-spacing: .05em;
	line-height: 1em;
}
.Index-page--has-image h3 {
	color: #fff;
	font-family: pt sans;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.sqs-block-button .sqs-block-button-element--large {
	padding: 10px !important
}
.sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a, .sqs-block-image .image-block-outer-wrapper.image-block-v2 .image-card a:hover {
	text-decoration: none;
	border-bottom: solid 2px #44d9e6;
}
.newsletter-block .newsletter-form-header-title {
	font-size: 27px;
	letter-spacing: .08em;
}
#pubexchange_below_content a.pe-headline {
	display: block;
	font: 600 19px/1.26 times-new-roman !important;
	letter-spacing: .01em !important;
	text-transform: none !important;
	color: #000;
	margin-bottom: 5px;
}
#pubexchange_below_content a.pe-partner-name {
	display: block;
	font: 500 11px/1.26 Arial,Helvetica,sans-serif !important;
	letter-spacing: .08em;
	text-transform: uppercase !important;
	color: #000 !important;
}
/* MAILCHIMP EMBED CODE BELOW */
/* ---------------------------- */
/* aligns form text and sets top and botttom padding to 10px */
#mc_embed_signup form {
	text-align: center;
	padding: 10px 0 10px 0;
}
/* positions input field inline horizontally */
.mc-field-group {
	display: inline-block;
}
/* assigns styling to email input field */
#mc_embed_signup input.email {
	font-family: pt sans, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .08em;
	border: 2px solid #EBA146;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #000000;
	background-color: #fff;
	height: 0px;
	box-sizing: border-box;
	padding: 1.65em;
	display: inline-block;
	margin: 0;
	width: 350px;
	vertical-align: top;
}
/* assigns styling to label element (parent element of form title [h1]) */
#mc_embed_signup label {
	display: block;
	font-size: 16px;
	padding-bottom: 20px;
	font-weight: bold;
}
/* assigns styling to parent element of form button */
#mc_embed_signup .clear {
	display: inline-block;
	/* makes button display inline horizontally with input field */
}
/* assigns styling to form button */
#mc_embed_signup .button {
	font-size: 14px;
	font-weight: bold;
	font-family: Pt sans, sans-serif;
	border: none;
	-webkit-border-radius: .08em;
	-moz-border-radius: .08em;
	border-radius: .08em;
	letter-spacing: .08em;
	color: #fff;
	background-color: #EBA146;
	line-height: 0px;
	padding: 1.5em;
	display: inline-block;
	margin-left: 15px;
	transition: all 0.23s ease-in-out 0s;
}
/* assigns styling to form button when it is hovered over with a mouse */
#mc_embed_signup .button:hover {
	background-color: #D7831C;
	cursor: pointer;
}
/* assigns styling to form button when it is pressed */
#mc_embed_signup .button:focus {
	outline: none !important;
}
/* assigns styling to error response from MailChimp form */
#mc_embed_signup #mce-error-response {
	color: #721c24;
	margin-top: 20px;
	background: #f8d7da;
	padding: 20px;
	display: none;
}
/* assigns styling to success response from MailChimp form */
#mc_embed_signup #mce-success-response {
	color: #529214;
	margin-top: 20px;
	background: #dbfed9;
	padding: 20px;
	display: none;
}
/* assigns styling to MailChimp embed parent (where the MailChimp HTML code is placed) */
#customMCEmbed {
	padding: 50px;
}
/* CSS code that affects mobile devices only (written by MailChimp) */
@media (max-width: 768px) {
	#mc_embed_signup input.email {
		width: 100%;
		margin-bottom: 5px;
	}
	#mc_embed_signup .clear {
		display: block;
		width: 100%
}
	#mc_embed_signup .button {
		width: 100%;
		margin: 0;
	}
}
/* Custom CSS that only affects mobile devices */
@media (min-width: 320px) and (max-width: 1024px) {
	#customMCEmbed {
		padding: 17px;
	}
}
/* Custom CSS that styles the outer div of the custom summary block */
.custom-summary-block .custom-summary-wrapper {
	padding: 15px 0 0;
	clear: both;
}
/* Custom CSS that styles the summary block heading title */
.custom-summary-block .custom-summary-title {
	display: block;
	font: 700 20px/1.26 Arial,Helvetica,sans-serif;
	letter-spacing: 0.05em;
	margin-bottom: 10px;
}
/* Custom CSS that styles the module (div containing the article items) */
.custom-summary-block ul.custom-summary-module {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
/* Custom CSS that styles the custom summary article item */
.custom-summary-block li.custom-summary-article {
	margin: 0 2% 15px 0;
	padding: 0;
	overflow: hidden;
	width: 23%;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	text-align: left;
}
/* Custom CSS that styles a specific item to display properly in mobile/desktop */
.custom-summary-block li.custom-summary-article:nth-child(4n+4) {
	margin-right: 0;
}
/* Custom CSS that styles article item in all devices */
@media only screen and (min-width:0px) {
	.custom-summary-block li.custom-summary-article {
		width: 23.5%;
	}
}
/* Custom CSS that styles the custom summary article item image wrapper (div containing image) */
.custom-summary-block .custom-summary-thumb-wrapper {
	width: 100%;
	padding-bottom: 82.76%;
	margin: 0 0 6px;
	overflow: hidden;
	position: relative;
	background: #FFF;
}
/* Custom CSS that styles the custom summary article item image */
.custom-summary-block .custom-summary-thumb img {
	position: absolute;
	width: 100%;
	/*ORIGINAL: width: auto;
	*/
	min-width: 100%;
	min-height: 100%;
	max-width: none;
}
/* Custom CSS that styles the custom summary article item title/author wrapper div */
.custom-summary-block .custom-summary-editorial {
	clear: both;
	line-height:0px;
}
/* Custom CSS that styles the custom summary article item title */
.custom-summary-block a.custom-summary-headline {
	display: initial;
	font: 600 19px "Times New Roman";
	letter-spacing: 0.01em;
	color: #000;
	border-bottom:none!important;
}
/* Custom CSS that styles the author's name */
.custom-summary-block p.custom-summary-author-name {
	display: block;
	font: 500 11px/1.26 Arial,Helvetica,sans-serif;
	letter-spacing: .08em;
	text-transform: uppercase;
	color: #000;
	margin-top: 5px;
}
/* Custom CSS that styles the custom summary block in mobile devices (above screen width 481px but less than 700px) */
@media only screen and (min-width:481px) and (max-width:700px) {
	.custom-summary-block li.custom-summary-article {
		width: 32%;
	}
	.custom-summary-block li.custom-summary-article:nth-child(4n+3) {
		margin-right: 0;
	}
	.custom-summary-block li.custom-summary-article:nth-child(4n+4) {
		display: none;
	}
}
/* Custom CSS that styles the custom summary block in mobile devices */
@media only screen and (max-width:480px) {
	.custom-summary-block li.custom-summary-article {
		width: 49%;
	}
	.custom-summary-block li.custom-summary-article:nth-child(2n+2) {
		margin-right: 0;
	}
}
/* Custom CSS that styles the custom category block */
.custom-category-block {
	text-align: center;
	padding: 0em 2.5em 2.5em 2.5em;
	letter-spacing: .08em;
	font: 12px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin-top:10px;
}
/* Custom CSS that styles the custom category block anchor tag (link) */
.custom-category-block a {
	border-bottom:1px solid;
}
/* Custom CSS that styles the custom category block anchor tag (link) when it is in hover state */
.custom-category-block a:hover {
	color: rgba(51,51,51,.6);
	/*border-color: rgba(51,51,51,.15)*/
}
/* Custom CSS that styles the custom category block anchor tag (link) when it is pressed */
.custom-category-block a:focus {
	color: rgba(51,51,51,.6);
	/*border-color: rgba(51,51,51,.15)*/
}
/* Custom CSS that styles the pagination div element */
.BlogItem-pagination {
	margin-bottom: 2.5em;
}
.BlogItem-pagination-link-label {
	font-weight: 500;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000;
}
.tweak-blog-item-pagination-link-icon-weight-medium .BlogItem-pagination-link-icon {
	stroke-width: 1;
}
/* Custom CSS that styles the custom summary block in mobile devices (except tablets) */
@media only screen and (min-width:320px) and (max-width:812px) {
	body {
		min-width: 100% !important;
		min-height: 100% !important;
	}
	body .Site {
		margin-top: 50px !important;
	}
}
.sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
	text-align: left;
	font-size: 11px;
	white-space: pre-wrap;
	line-height: 1.2em;
	font-family: Arial,Helvetica,sans-serif;
	color: #000000;
}
/* Custom CSS that styles the outer div element containing the author image, name, bio, and website in author pages */
.custom-author-container {
	padding: 50px;
	text-align: center;
}
/* Custom CSS that styles the wrapper div of the author image in author pages */
.custom-author-container .custom-author-image {
	position: relative;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}
/* Custom CSS that styles the author image element in author pages. */
.custom-author-container .custom-author-image img {
	width: 100%;
	height: auto;
}
/* Custom CSS that styles the div element containing the author name, bio, and website in author pages */
.custom-author-container .custom-author-info {
	font-weight:400!important;
}
/* Custom CSS that styles the author bio in author pages */
.custom-author-container .custom-author-bio {
	font-size:16px;
	letter-spacing:.03em;
	line-height:1.2em;
	font-weight:400;
}
/* Custom CSS that styles the author website URL in author pages */
.custom-author-container .custom-author-website {
	font-size:16px;
	font-weight:400;
	letter-spacing:.03em;
}
/* Custom CSS that styles the author name in author pages */
.custom-author-container .custom-author-title {
	font-family:"Times New Roman",Times,serif;
	margin-bottom: 10px;
	font-size:30px;
	font-weight:700;
	letter-spacing:.03em;
}
/* Custom CSS that styles the author image element in author pages. */
.custom-author-container .custom-loading-image img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
/* ----------------------- */
/* Custom CSS that styles the outer div element containing the author image, name, and website in article pages */
.custom-author-article-container {
	padding: 25px;
	text-align: center;
}
/* Custom CSS that styles the wrapper div of the author image in article pages */
.custom-author-article-container .custom-author-article-image {
	position: relative;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}
/* Custom CSS that styles the author image element in article pages */
.custom-author-article-container .custom-author-article-image img {
	width: 100%;
	height: auto;
}
/* Custom CSS that styles the div element containing the author name, and website in article pages */
.custom-author-article-container .custom-author-article-info {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 11px;
}
/* Custom CSS that styles the author website URL in article pages */
.custom-author-article-container .custom-author-article-info a {
	border-bottom: 1px solid;
	font-weight:500;
}
/* Custom CSS that styles the author website URL on hover in article pages */
.custom-author-article-container .custom-author-article-info a:hover {
	color: rgba(51,51,51,.6);
}
/* Custom CSS that styles the text ("Written by") in article pages */
.custom-author-article-container .custom-author-article-info p {
	margin-bottom: 0px;
}
/* Custom CSS that styles images in in landscape for author profile images */
.author-img-landscape {
	position: absolute;
	height: 100% !important;
	width: auto !important;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
/* Custom CSS that styles the breadcrumb container in article pages */
.custom-breadcrumb {
	margin-bottom: 1em;
	font-family: Arial,Helvetica,sans-serif;
}
/* Custom CSS that styles the breadcrumb container text in article pages */
.custom-breadcrumb p {
}
/* Custom CSS that styles the breadcrumb container category URL (anchor tag) in article pages */
.custom-breadcrumb a {
	font-style: normal;
	text-transform: uppercase;
}
/* Custom CSS that styles the breadcrumb container special symbol in article pages */
.custom-breadcrumb .special-symbol::before {
	content: '\203a';
	font-style: normal;
	margin-left: 0.25em;
	font-size: 30px;
	vertical-align: text-bottom;
}
/* CUSTOM CSS THAT HELPS WITH THE SIDEBAR PLACEMENT */
.new-custom-sqs-12 {
	width: 100% !important;
}
.new-custom-row {
	width: 70% !important;
	margin-left: auto;
	margin-right: auto;
}
/* Custom CSS that styles the custom content div in mobile devices */
@media (max-width: 1024px) {
	/* CSS that styles the custom content wrapper */
	.custom-content {
		order: 6;
	}
	/* CSS that styles the sidebar ad wrapper */
	.custom-content .custom-ad-sidebar {
		width: 0px;
		display: none;
		margin: none;
		z-index: 0;
	}
	/* CSS that styles the article content wrapper */
	.custom-article-content {
		width: 100%;
	}
}
/* Custom CSS that styles the custom content div in desktop devices */
@media (min-width: 1025px) {
	/* CSS that styles the custom content wrapper */
	.custom-content {
		order: 6;
		display: -webkit-box;
		display: flex;
		flex-wrap: wrap;
	}
	/* CSS that styles the sidebar ad wrapper */
	.custom-content .custom-ad-sidebar {
		min-width: 300px;
		/*height: 50vh;
		position: sticky;
		position: -webkit-sticky;
		top: 75px;
		*/
		margin-left: -5%;
		z-index: 1;
	}
	/* CSS that styles the sidebar loading image wrapper */
	.custom-content .custom-ad-sidebar .custom-loading-image-sidebar {
		max-width: 300px;
	}
	/* CSS that styles the sidebar loading image */
	.custom-content .custom-ad-sidebar .custom-loading-image-sidebar .custom-loading-image img {
		width: 50px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	/* CSS that styles the sidebar article content wrapper */
	.custom-sidebar-article-wrapper {
		max-width: 300px;
	}
	/* CSS that styles the sidebar article content title */
	.custom-sidebar-article-wrapper .custom-sidebar-wrapper-title {
		display: block;
		font: 500 11px/1.26 Arial,Helvetica,sans-serif;
		letter-spacing: 0.08em;
		border-top: 1px solid;
		padding-top: 10px;
		text-transform:uppercase;
	}
	/* CSS that styles the sidebar article content wrapper unordered list */
	.custom-sidebar-article-wrapper .custom-sidebar-article-list {
		margin-bottom: 60px !important;
	}
	.custom-sidebar-article-wrapper .custom-sidebar-article-list {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
	}
	.custom-sidebar-article-wrapper .custom-sidebar-article-list .custom-sidebar-article-item {
		margin-top: 20px;
	}
	.custom-sidebar-article-wrapper .custom-sidebar-article-list .custom-sidebar-article-item .custom-sidebar-article-editorial {
		clear: both;
		line-height: 14px;
	}
	.custom-sidebar-article-wrapper .custom-sidebar-article-list .custom-sidebar-article-item .custom-sidebar-article-author-name {
		display: block;
		font: 500 11px/1.26 Arial,Helvetica,sans-serif;
		letter-spacing: .08em;
		text-transform: uppercase;
		color: #000;
		margin-top: 0px;
	}
	.custom-sidebar-article-wrapper .custom-sidebar-article-list .custom-sidebar-article-title {
		display: initial;
		font: 500 20px Georgia, serif;
		letter-spacing: .01em;
		border-bottom: none !important;
	}
}
/* Custom CSS that styles the custom social media image buttons */
.custom-image-button {
	font-size: 21px;
	cursor: pointer;
	color: #fff;
	border-radius: 50%;
	margin: 0px 5px 5px 0px;
	line-height: 40px !important;
	height: 40px !important;
	width: 40px !important;
	text-align: center !important;
}
/* Custom CSS that styles the custom image pinterest button */
.custom-pinterest-button {
	background: #bd081c;
}
/* Custom CSS that styles the custom image pinterest button on mouse hover */
.custom-pinterest-button:hover {
	background: #e53a41;
}
/* Custom CSS that styles the custom image facebook button */
.custom-facebook-button {
	background: #3b5998;
}
/* Custom CSS that styles the custom image facebook button on mouse hover */
.custom-facebook-button:hover {
	background: #5573b2;
}
.custom-image-button-section {
	position: absolute;
	right: 0;
	bottom: 0;
}
.sqs-announcement-bar-text a {
	position: relative;
	color: #e35fc4 !important;
	text-decoration: none !important;
	border-bottom: 3px solid #e35fc4 !important;
}
.sqs-block-summary-v2 .summary-block-setting-text-size-medium .summary-title {
	font-family: "Times New Roman",Times,serif !important;
	letter-spacing: 0;
	font-weight: 700;
	color: #000;
	text-transform: capitalize;
}
/* Custom CSS that fixes instagram module width to fit article */
.instagram-media {
	min-width: 0px !important;
}
/* Custom CSS that removes datestamp from articles */
/*.Blog-meta-item.Blog-meta-item--date {
	display: none;
}
*/
/* Custom CSS that centers loading icon in splash page */
#collection-5d20479b41ec3a0001f775fd .image-block .thumb-image {
	left: 50% !important;
	top: 50% !important;
	width: 50% !important;
	height: 50% !important;
	-webkit-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%);
}
/* Custom CSS that changes the MaiLChimp popup modal height to its original value */
.mc-layout__modalContent {
	height: auto !important;
}
/* Custom CSS that overrides left attribute of thumb images in articles */
.html-block .sqs-block-content .gallery-block .thumb-image {
	left: 0px !important;
}
/* Custom CSS that changes the Mediavine video container background */
.mediavine-video__sticky-container {
	background-color: #ffffff !important;
}
/* Custom CSS that styles the Mediavine video sticky bar text */
.mediavine-video__sticky-bar .mediavine-video__sticky-title {
	font-size: 16px !important;
	color: #333333 !important;
	margin-left: 0px !important;
}
/* Custom CSS that styles the Mediavine sticky bar */
/* .mediavine-video__sticky-bar {
	height: 100% !important;
}
*/
/* Custom CSS that styles the "top stories" header in the Mediavine sticky bar */
.mediavine-sticky-header {
	display: block;
	line-height: initial;
	/* margin-bottom: -5px !important;
	*/
	font-size: 21px !important;
}
/* Custom CSS that styles the ">>" in Read More in Mediavine sticky bar */
.mediavine-sticky-title-arrow {
	color: #44d9e6;
}
/* Custom CSS that styles the "Read More" text */
.read-more-text {
	float: right;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
}
/* Custom CSS that styles custom horizontal line block */
.custom-hr-element {
	width: 100% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/* Custom CSS that styles the headline container */
.video-headline-container {
	position: absolute;
	z-index: 1;
	top: 25px;
	margin-left: 20px;
	margin-top: 20px;
	line-height: 1.5;
	max-width: 79%;
}
/* Custom CSS that styles the headline text blocks */
.video-headline-text {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	display: inline-block;
	border-left: 5px solid #44d9e6;
	color: #333333 !important;
}
/* Custom CSS that styles the headline text blocks animations */
.video-headline-text-animated {
	transition: width 2s;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: clip;
	visibility: visible;
}
/* Custom CSS that handles the z-index of the control bar */
/*.vjs-user-active .vjs-control-bar {
	z-index: 3 !important;
}
*/
/* Custom CSS that handles the styling of the search result article title */
.custom-article-title-search {
	color: #000 !important;
}
/* Custom CSS that styles the styling of the article excerpt in search result pages */
.custom-article-excerpt-search {
	display: block !important;
}
/* Custom CSS that styles the read more buttons in search result page */
.custom-read-more-search {
	color: #000 !important;
	display: block !important;
}
/* Custom CSS that styles the image in search results */
.custom-image-search {
	font-size: 0px;
	left: -0.25px;
	top: 0px;
	width: 352.5px;
	height: 235px;
	position: relative;
}
/* Custom CSS that styles the search more button in the search page */
.custom-search-more-button-disabled {
	background-color: #ccc !important;
}
/* Custom CSS that styles the search result text on the search page */
@media only screen and (min-width: 737px) {
	.custom-search-result-text {
		font-size: 2.8rem !important;
		display: flex !important;
		align-items: center !important;
	}
	.custom-search-result-text:after {
		display: block;
		content: "";
		flex: 1;
		width: 100%;
		height: 4px;
		margin-left: 8px;
		background: #000;
	}
}
